<header class="app-header navbar">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a [routerLink]="['/dashboard/profile']" routerLinkActive = "active">PROFILE</a>
    </li>
    <li class="nav-item px-3">
      <a [routerLink]="['/dashboard/skill']" routerLinkActive = "active">SKILLS</a>
    </li>
    <li class="nav-item px-3">
      <a [routerLink]="['/dashboard/search']" routerLinkActive = "active">SEARCH</a>
    </li>
    <li class="nav-item px-3">
      <a [routerLink]="['/dashboard/tag']" routerLinkActive = "active">TAGS</a>
    </li>
  </ul>
</header>
