<div class="animated fadeIn">
    <div class="col-md-6 content_component">
      <div class="card">
        <div class="card-header">
          <strong>Profile</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">User name</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Enter name">
                <span class="help-block">Please enter your name</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">User role</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Enter role">
                <span class="help-block">Please enter your role</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
              <div class="col-md-9">
                <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email">
                <span class="help-block">Please enter your email</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="phone-input">Phone</label>
              <div class="col-md-9">
                <input type="phone" id="phone-input" name="phone-input" class="form-control" placeholder="Enter phone">
                <span class="help-block">Please enter your phone</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="location-input">location Input</label>
              <div class="col-md-9">
                <input type="location" id="location-input" name="location-input" class="form-control" placeholder="Enter location">
                <span class="help-block">Please enter your location</span>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </div>
    </div>
  </div>
  