<div class="animated fadeIn">
  <div class="col-md-6 content_component">
    <h1 class="mt-5"> Skills Inventory </h1>
    <div class="alert alert-danger" role="alert" *ngIf = "message">
        {{ message }}
    </div>
    <app-skill-item [maxScore]=7 [forDisplay]="false" 
    [possible_skills] = "possible_skills"
    (skillChanged)="skillChanged($event)" 
    (removeSkill)="onRemoveSkill($event)" 
    *ngFor = "let skill of skills" [skill]="skill"></app-skill-item>
    <button class="btn btn-danger" [disabled] = "this.possible_skills.length==0" (click) = "addSkill()" type="button">Add new</button>
    <button class="btn btn-success" (click) = "saveSkill()" type="button">Save</button>
  </div>
</div>
